# `{{ directoryName }}/{{ moduleName }}.hs`

## Interactive

```console
$ cd {{ directoryName }}
$ ghci
GHCi, version 9.4.8: https://www.haskell.org/ghc/  :? for help
```
```haskell
λ :load {{ moduleName }}.hs
[1 of 1] Compiling {{ moduleName }}             ( {{ moduleName }}.hs, interpreted )
Ok, one module loaded.
λ f
Hello, world!
```

## Linting

```console
hlint {{ moduleName }}.hs
```
